[submodule "deps/luajit"]
	path = deps/luajit
	url = http://luajit.org/git/luajit-2.0.git
[submodule "deps/llthreads"]
	path = deps/llthreads
	url = https://github.com/Neopallium/lua-llthreads.git
[submodule "deps/lua-marshal"]
	path = deps/lua-marshal
	url = git@github.com:richardhundt/lua-marshal.git
